<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Tabela de Alunos</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Matrícula</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Turma</th>
                <th>Gênero</th>
            </tr>
        </thead>
        <tbody>
            <% alunos.forEach(function(alunos) { %>
                <tr>
                    <td><%= alunos.matricula %></td>
                    <td><%= alunos.nome %></td>
                    <td><%= alunos.email %></td>
                    <td><%= alunos.turma %></td>
                    <td><%= alunos.genero %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</body>
</html>